# Node / React
node_modules/
build/
dist/
.env.local
.env.development
.env.production
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Python (Flask/FastAPI)
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
instance/
.env
venv/
env/
*.sqlite3
*.egg-info/
*.log

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Deployment
.vercel/
.netlify/
.railway/
