@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Outfit:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap');

@import "tailwindcss";


*,
*::before,
*::after {
  box-sizing: border-box;
}


body, h1, h2, h3, h4, h5, h6, p, figure, blockquote, dl, dd {
  margin: 0;
  padding: 0;
}

/* Keep your link styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Keep your app styles */
.app {
  min-height: 100vh;
  color: white;
  background: linear-gradient(to bottom, #0b004e, #1d152f, #002834);
}


@theme{
    --font-outfit: "Space Grotesk", sans-serif;
  
}